@page "{id:int}"
@model RetroTapes.Pages.Rentals.DetailsModel
@{
    ViewData["Title"] = "Rental Details";
}

<h1>Rental #@Model.Item?.RentalId</h1>

@if (Model.Item is null)
{
    <div class="alert alert-danger">Not found.</div>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">@Model.Item.RentalDate</dd>
        <dt class="col-sm-3">Customer</dt>
        <dd class="col-sm-9">@Model.Item.Customer?.FirstName @Model.Item.Customer?.LastName</dd>
        <dt class="col-sm-3">Film</dt>
        <dd class="col-sm-9">@Model.Item.Inventory?.Film?.Title</dd>
        <dt class="col-sm-3">Return</dt>
        <dd class="col-sm-9">@((Model.Item.ReturnDate?.ToString()) ?? "-")</dd>
        <dt class="col-sm-3">Staff</dt>
        <dd class="col-sm-9">@Model.Item.StaffId</dd>
    </dl>
    <a class="btn btn-outline-secondary" asp-page="./Index">Back</a>
}
